.home_entry {
    width: 100%;
    border: 1px black solid;
    height: 25vh;
}

.image {
    width: 200px;
    height: 200px;
}

.tag {
    margin: 0.4rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0.1rem solid black;
    width: 10rem;
    text-align: center;
}

.link_box {
    font-size: 0.7rem;
    font-weight: bolder;
}