<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search properties</mat-label>
                <input matInput placeholder="Search text" [(ngModel)]="searchText">
                <mat-icon matSuffix aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" *ngFor="let home of properties">
            <div class="d-flex flex-row home-entry mb-3 p-3">
                <div class="image_container">
                    <img class="image rounded shrink-hover cursor-pointer-hover" [src]="home.image" (click)="openImagesModal()" alt="Current image of the property"/>
                    <div class="arrow arrow-left" (click)="genNewImage(home)">
                        <i class="bi bi-caret-left"></i>
                    </div>
                    <div class="arrow arrow-right" (click)="genNewImage(home)">
                        <i class="bi bi-caret-left"></i>
                    </div>
                </div>
                <div class="w-100 m-lg-1">
                    <mat-card style="height: 250px">
                        <mat-card-title><span class="link-text">{{home.title}}</span></mat-card-title>
                        <mat-card-subtitle>
                            <div class="link_box mt-2">
                                <p>London <span class="link-text" (click)="openMapDialog()">Show On Map</span></p>
                            </div>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="row">
                                        <p>{{home.description}}</p>
                                    </div>
                                    <div class="row text-center mt-2">
                                        <div class="col-sm-4 large-font">
                                            <i class="bi bi-credit-card-2-back"></i>
                                            <span class="m-lg-2">Income</span>
                                            <div class="money-value mt-3">56</div>
                                        </div>
                                        <div class="col-sm-4 large-font">
                                            <i class="bi bi-hammer"></i>
                                            <span class="m-lg-2">Expense</span>
                                            <div class="money-value mt-3">56</div>
                                        </div>
                                        <div class="col-sm-4 large-font">
                                            <i class="bi bi-piggy-bank"></i>
                                            <span class="m-lg-2">Profit</span>
                                            <div class="money-value mt-3">56</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img class="avatar rounded-circle" [src]="home.profilePic"
                                                 alt="Avatar of property manager"/>
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 class="bold-hover">Property Manager</h3>
                                            <h5 class="bold-hover">(First Name) (Last Name)</h5>
                                            <p>
                                                <i class="bi bi-chat-left-dots-fill">
                                                </i>
                                                <span class="m-lg-2"><span class="link-text">Direct message</span></span>
                                            </p>
                                            <p>
                                                <i class="bi bi-telephone-fill"></i>
                                                +00 345 345 345
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <div class="position-absolute top-0 end-0">
                            <div class="tag bold-hover"
                                 [style.background-image]="'linear-gradient(to right, white , '+ home.tag.color +', white)'">
                                {{home.tag.name}}
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>