<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12" *ngFor="let home of homes">
            <div class="d-flex flex-row home_entry mb-3 p-3">
                <div class="image_container">
                    <img class="image" [src]="home.image" alt="Current image of the property"/>
                    <div class="arrow arrow-left" (click)="genNewImage(home)">
                        <i class="bi bi-caret-left"></i>
                    </div>
                    <div class="arrow arrow-right" (click)="genNewImage(home)">
                        <i class="bi bi-caret-left"></i>
                    </div>
                </div>
                <div class="w-100 m-lg-1">
                    <mat-card style="height: 250px">
                        <mat-card-title><a href="">{{home.title}}</a></mat-card-title>
                        <mat-card-subtitle>
                            <div class="link_box mt-2">
                                <p>London <a href="">Show On Map</a></p>
                            </div>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <p class="card-text">{{home.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="m-lg-3">
                                <p><i class="bi bi-telephone-fill"></i>
                                    +00 345 345 345</p>
                            </div>
                        </mat-card-footer>
                        <div class="position-absolute top-0 end-0">
                            <div class="tag" [style.background-color]="home.tag.color">{{home.tag.name}}</div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>