.home_entry {
    width: 100%;
    border: 1px black solid;
    height: 25vh;
}

.image {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}

.tag {
    display: inline-block;
    border-radius: 15%;
    font-size: 0.7rem;
    background-color: rgb(255, 255, 255);
}