* {
    transition: all 0.2s ease;
}

.card-img-top {
    width: 20vw;
    height: auto;
    object-fit: contain;
}

* {
    cursor: pointer;
}

/*img:hover {*/
/*    transform: scale(1.05);*/
/*}*/

.card:hover {
    transform: scale(1.05);
}

.card {
    break-inside: avoid;
}

.confirm-delete {
    color: rgb(255, 0, 0);
}

.delete {
    color: rgba(250, 161, 161, 0.75);
}

.del-button {
    right: 5%;
    top: 5%;
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    position: absolute;
    font-size: 3rem;
}

.del-button:hover {
    cursor: pointer;
    color: rgb(245, 119, 119);
}

@media (max-width: 575.98px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}